<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SPBaseCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF8B100D1EC01E4B00208A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8B10261EC01E4B00208A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8B10311EC01E4B00208A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
